<f:layout name="Default" />


<f:section name="main">

	<div class="row tx-teufels-cpt-cnt-imagelightbox" style="margin: 60px 0;">

		<f:for each="{aImages}" as="galleryItem" iteration="galleryIterator">
			<div class="col-xs-6 col-sm-3 outer galleryItem">
				<a href="{galleryItem.path}" class="showlightbox" data-imagelightbox="g" id="gal_265">
					<figure>
						<div class="blend_ focuspoint"
							 data-focus-x="0.0"
							 data-focus-y="0.0"
							 data-focus-w="{galleryItem.width}"
							 data-focus-h="{galleryItem.height}">

							<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								 data-echo="{galleryItem.path}"
								 class="b-lazy opacity_0"/>
						</div>
					</figure>
				</a>
			</div>
		</f:for>

	</div>

</f:section>